name: Release

on:
  push:
    tags:
      - 'v*' # Se activa cuando subes un tag como v0.0.1
permissions:
  contents: write
jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: skillctl
            asset_name: skillctl-linux
          - os: macos-latest
            artifact_name: skillctl
            asset_name: skillctl-macos
          - os: windows-latest
            artifact_name: skillctl.exe
            asset_name: skillctl-win.exe

    steps:
    - uses: actions/checkout@v3
    
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build
      run: cargo build --release --verbose

    - name: Upload binaries to Release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/release/${{ matrix.artifact_name }}
        asset_name: ${{ matrix.asset_name }}
        tag: ${{ github.ref }}
        overwrite: true